<div id="image-<%= @image.short_id %>">
  <div class="thumbnail image-detail" title="<%= @image.title %>">
    <% if @image.width > 800 %>
      <a class="zoom-in" href="<%= @image.web_file_url %>" data-toggle="lightbox">
    <% end %>
      <img src="<%= @image.web_file_url %>" alt="<%= @image.title %>">
    <% if @image.width > 800 %>
      </a>
    <% end %>
  </div>
  <div class="image-footer">
      <h2>
        <span class="image-title-<%= @image.short_id %>"><%= @image.title %></span>
        <% if session[:user_id] == @image.user_id %>
          <input maxlength="255" placeholder="Title" class="form-control input-lg hidden edit-image-title image-title-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>" type="text" value="<%= @image.title %>">
          <button class="btn btn-xs btn-primary edit-image-title image-title-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Edit title</button>
        <% end %>
      </h2>

    <div class="image-footer-row">
      <span class="image-description-<%= @image.short_id %>"><%= nl2br(@image.description) %></span>

      <% if session[:user_id] == @image.user_id %>
        <div>
          <textarea rows="4" placeholder="Description" class="form-control hidden edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>"><%= @image.description %></textarea>
          <% unless @image.description.nil? || @image.description.blank? %>
            <button class="btn btn-xs btn-primary edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Edit description</button>
          <% else %>
            <button class="btn btn-xs btn-primary edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Add description</button>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-inline">
        <span class="image-tags-<%= @image.short_id %>">
          <% @image.tags_array.each do | tag_name | %>
            <span class="badge image-tag">
              <span class="fa fa-hashtag" aria-hidden="true"></span>
              <span class="image-tag-text"><%= tag_name %></span>
              <% if session[:user_id] == @image.user_id %>
                <span title="Remove" class="image-tag-remove image-tag-remove-<%= @image.short_id %> fa fa-remove" data-image-id="<%= @image.short_id %>" data-tag-value="<%= tag_name %>"></span>
              <% end %>
            </span>
          <% end %>
        </span>
      <% if session[:user_id] == @image.user_id %>
        <input size="15" maxlength="20" placeholder="New tag" class="form-control hidden add-image-tag add-image-tag-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>" type="text" value="">
        <button class="btn btn-primary btn-xs add-image-tag add-image-tag-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">
          <span class="fa fa-hashtag" aria-hidden="true"></span> Add tag
        </button>
      <% end %>
    </div>
    <% if session[:user_id] == @image.user_id %>
      <div class="image-hidden-row">
        <input id="hide-image-<%= @image.short_id %>" class="hide-image hide-image-<%= @image.short_id %>" type="checkbox" <%= @image.hidden == 1 ? 'checked="checked"' : '' %> value="1" data-image-id="<%= @image.short_id %>">
        <label for="hide-image-<%= @image.short_id %>"> Private image</label>
      </div>
    <% end %>
    <% if session[:user_id] == @image.user_id %>
      <div class="image-delete-row">
        <button class="btn btn-danger btn-xs delete-image" type="button" title="Delete image" data-image-id="<%= @image.short_id %>">
          <span class="glyphicon glyphicon-trash"></span> Delete image
        </button>
      </div>
    <% end %>

  </div>
</div>