<div>
  <div class="image-header">

    <h1>
      <span class="image-title-<%= @image.short_id %>"><%= @image.title %></span>
      <% if session[:user_id] == @image.user_id %>
          <input maxlength="255" placeholder="Title" class="form-control input-lg hidden edit-image-title image-title-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>" type="text" value="<%= @image.title %>">
          <button class="btn btn-xs btn-primary edit-image-title image-title-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Edit title</button>
      <% end %>
    </h1>
    <% if @image.album %>
      <p>
        Album: <b><a href="/a/<%= @image.short_album_id %>"><%= @image.album.title %></a></b>
      </p>
    <% end %>
    <p>
      Uploaded <time datetime="<%= @image.created_at.to_time.iso8601 %>" title="<%= @image.created_at.to_time.iso8601 %>">
        <%= distance_of_time_in_words @image.created_at.to_time.to_i, Time.now.to_i %> ago
      </time>
      by
      <b>
        <% if @image.user %>
          <a href="/user/<%= @image.user.username %>"><%= @image.user.username %></a>
        <% else %>
          Anonymous
        <% end %>
      </b>
    </p>

    <p class="album-share-button">

      <a title="Share link" class="btn share-button" data-toggle="collapse" data-target="#album-share-box">
        <span class="fa fa-share-alt"></span>
      </a>

      <a title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode_www_form_component("#{ApplicationController::BASE_URL}/#{@image.short_id}") %>" class="btn share-button share-facebook"><span class="fa fa-facebook"></span></a>
      <a title="Share on Twitter" target="_blank" href="https://twitter.com/home?status=<%= URI.encode_www_form_component("#{ApplicationController::BASE_URL}/#{@image.short_id}") %>" class="btn share-button share-twitter"><span class="fa fa-twitter"></span></a>
    </p>

    <div id="album-share-box" class="album-share-box collapse">
      <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span>
          <span class="hidden-xs">Link to image:</span>
          </span>
        <input type="text" class="form-control image-url" value="<%= ApplicationController::BASE_URL %>/<%= @image.short_id %>">
          <span class="input-group-btn">
            <button title="Copy to clipboard" class="btn btn-primary clipboard-btn"><span class="glyphicon glyphicon-copy"></span></button>
          </span>
      </div>
    </div>


  </div>

  <div class="thumbnail image-detail" title="<%= @image.title %>">
    <% if @image.width > 800 %>
      <a class="zoom-in" href="<%= @image.web_file_url %>" data-toggle="lightbox">
    <% end %>
      <img src="<%= @image.web_file_url %>" alt="<%= @image.title %>">
    <% if @image.width > 800 %>
      </a>
    <% end %>
  </div>
  <div class="image-footer">

      <p>
        <span class="image-description-<%= @image.short_id %>"><%= @image.description %></span>
        <% if session[:user_id] == @image.user_id %>

          <textarea rows="3" placeholder="Description" class="form-control input-lg hidden edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>"><%= @image.description %></textarea>

          <% unless @image.description.nil? || @image.description.blank? %>
            <button class="btn btn-xs btn-primary edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Edit description</button>
          <% else %>
            <button class="btn btn-xs btn-primary edit-image-description image-description-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Add description</button>
          <% end %>
        <% end %>
      </p>
      <p>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
        <span class="image-tags-<%= @image.short_id %>"><%= @image.tags %></span>

        <% if session[:user_id] == @image.user_id %>

          <input maxlength="255" placeholder="Tags" class="form-control input-lg hidden edit-image-tags image-tags-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>" type="text" value="<%= @image.tags %>">

          <% unless @image.tags.nil? || @image.tags.blank? %>
            <button class="btn btn-xs btn-primary edit-image-tags image-tags-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Edit tags</button>
          <% else %>
            <button class="btn btn-xs btn-primary edit-image-tags image-tags-<%= @image.short_id %>" data-image-id="<%= @image.short_id %>">Add tags</button>
          <% end %>
        <% end %>
      </p>

  </div>
</div>