<div class="text-center">
  <h3>Browse

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= {'popular' => 'popular', 'new' => 'recently added' }[params[:sort]] %>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/popular/<%= params[:type] %>/<%= params[:size] %>">popular</a></li>
        <li><a href="/browse/new/<%= params[:type] %>/<%= params[:size] %>">recently added</a></li>
      </ul>
    </div> images,
    show
    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= {'any' => 'any type', 'png' => 'only png', 'gif' => 'only gif', 'jpg' => 'only jpg' }[params[:type]] %>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/<%= params[:sort] %>/any/<%= params[:size] %>">any type</a></li>
        <li><a href="/browse/<%= params[:sort] %>/png/<%= params[:size] %>">only png</a></li>
        <li><a href="/browse/<%= params[:sort] %>/gif/<%= params[:size] %>">only gif</a></li>
        <li><a href="/browse/<%= params[:sort] %>/jpg/<%= params[:size] %>">only jpg</a></li>
      </ul>
    </div>

    and

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= {'any' => 'any size', 'icon' => 'only icons', 'medium' => 'only medium size', 'large' => 'only large size' }[params[:size]] %>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/any">any size</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/icon">only icons</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/medium">only medium size</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/large">only large size</a></li>
      </ul>
    </div>

  </h3>
  <div class="browse_filter"></div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
      <a href="<%= image.link_to_detail %>" title="<%= image.title %>">
        <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_url %>')">
      </a>
      </div>
    </div>
  <% end %>

</div>

<% if @show_more %>
<div class="show_more_images text-center">
  <a href="?offset=<%= params[:offset].to_i + @images.count %>" class="btn btn-lg btn-success show-more"><span class="glyphicon glyphicon-refresh"></span> Show more images</a>
</div>
<% end %>

<div class="upload_buttons text-center">
  <a href="/upload" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload new image</a>
</div>
