<div class="text-center">
  <h3>Browse

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        popular
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/popular/<%= params[:type] %>/<%= params[:size] %>">popular</a></li>
        <li><a href="/browse/recent/<%= params[:type] %>/<%= params[:size] %>">recently added</a></li>
      </ul>
    </div> images,
    show
    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       all types
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/<%= params[:sort] %>/all/<%= params[:size] %>">all types</a></li>
        <li><a href="/browse/<%= params[:sort] %>/png/<%= params[:size] %>">only png</a></li>
        <li><a href="/browse/<%= params[:sort] %>/gif/<%= params[:size] %>">only gif</a></li>
        <li><a href="/browse/<%= params[:sort] %>/jpg/<%= params[:size] %>">only jpg</a></li>
      </ul>
    </div>

    and

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        all sizes
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/all">all sizes</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/small">only small</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/middle">only middle</a></li>
        <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/big">only big</a></li>
      </ul>
    </div>.

  </h3>
  <div class="row browse_filter">

  </div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
      <a href="/album/<%= image.short_album_id %>" title="<%= image.title %>">
        <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_path %>')">
      </a>
      </div>
    </div>
  <% end %>

</div>
<div class="text-center">
  <button class="btn btn-lg btn-success show-more">Show more images</button>
</div>

