<div class="text-center">
  <h3>Browse

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= {'popular' => 'popular images', 'new' => 'new images' }[params[:sort]] %>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/browse/popular/<%= params[:type] %>/<%= params[:size] %>">popular images</a></li>
        <li><a href="/browse/new/<%= params[:type] %>/<%= params[:size] %>">new images</a></li>
      </ul>
    </div>.
    <div class="inline hidden-xs">
      <div class="btn-group">
        <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= {'any' => 'Any type', 'png' => 'Only png', 'gif' => 'Only gif', 'jpg' => 'Only jpg' }[params[:type]] %>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/browse/<%= params[:sort] %>/any/<%= params[:size] %>">Any type</a></li>
          <li><a href="/browse/<%= params[:sort] %>/png/<%= params[:size] %>">Only png</a></li>
          <li><a href="/browse/<%= params[:sort] %>/gif/<%= params[:size] %>">Only gif</a></li>
          <li><a href="/browse/<%= params[:sort] %>/jpg/<%= params[:size] %>">Only jpg</a></li>
        </ul>
      </div>.

      <div class="btn-group">
        <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= {'any' => 'Any size', 'icon' => 'Only icons', 'medium' => 'Only medium size', 'large' => 'Only large size' }[params[:size]] %>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/any">Any size</a></li>
          <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/icon">Only icons</a></li>
          <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/medium">Only medium size</a></li>
          <li><a href="/browse/<%= params[:sort] %>/<%= params[:type] %>/large">Only large size</a></li>
        </ul>
      </div>.
    </div>
  </h3>
  <div class="browse_filter"></div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
      <a href="<%= image.link_to_detail %>" title="<%= image.title %>">
        <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_url %>')">
      </a>
      </div>
    </div>
  <% end %>

</div>

<% if @show_more %>
<div class="show_more_images text-center">
  <a href="?offset=<%= params[:offset].to_i + @images.length %>" class="btn btn-lg btn-success show-more"><span class="glyphicon glyphicon-refresh"></span> Show more images</a>
</div>
<% end %>

<div class="upload_buttons text-center">
  <a href="/upload" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload new image</a>
</div>
