<div class="text-center">
  <h3>Browse

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= @type %>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/user/<%= params[:username] %>/images">images</a></li>
        <li><a href="/user/<%= params[:username] %>/albums">albums</a></li>
      </ul>
    </div>

    by <b><%= params[:username] %></b>.
  </h3>
  <div class="browse_filter"></div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
        <a href="<%= image.link_to_detail(@type) %>" title="<%= image.title_to_detail(@type) %>">
          <img class="thumb_cover" alt="<%= image.title_to_detail(@type) %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_url %>')">
          <span class="thumb_title"><%= image.title_to_detail(@type) %></span>
        </a>
      </div>
    </div>
  <% end %>

</div>

<% if @show_more %>
  <div class="show_more_images text-center">
    <a href="?offset=<%= params[:offset].to_i + @images.length %>" class="btn btn-lg btn-success show-more"><span class="glyphicon glyphicon-refresh"></span> Show more</a>
  </div>
<% end %>


