<div class="text-center">
  <h3>Browse images uploaded by <b><%= params[:username] %></b>

  </h3>
  <div class="browse_filter"></div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
        <a href="<%= image.link_to_detail(@type) %>" title="<%= image.title %>">
          <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_url %>')">
        </a>
      </div>
    </div>
  <% end %>

</div>

<% if @show_more %>
  <div class="show_more_images text-center">
    <a href="?offset=<%= params[:offset].to_i + @images.count %>" class="btn btn-lg btn-success show-more"><span class="glyphicon glyphicon-refresh"></span> Show more images</a>
  </div>
<% end %>


