<div class="album-header">
  <h1>
    <% if @album.title.nil? %>
      Untitled album
    <% else %>
      <%= @album.title %>
    <% end %>
    <% if session[:user_id] == @album.user_id %>
      <button class="btn btn-xs btn-primary">Edit title</button>
    <% end %>
  </h1>
  <p>
    <%= @album.description %>
    <% if session[:user_id] == @album.user_id %>
      <% unless @album.description.nil? || @album.description.blank? %>
        <button class="btn btn-xs btn-primary">Edit description</button>
      <% else %>
        <button class="btn btn-xs btn-primary">Add description</button>
      <% end %>
    <% end %>
  </p>

  <p>
    Uploaded <time datetime="<%= @album.created_at.to_time.iso8601 %>" title="<%= @album.created_at.to_time.iso8601 %>">
      <%= distance_of_time_in_words @album.created_at.to_time.to_i, Time.now.to_i %> ago
    </time>
    by
    <b>
      <% if @album.user %>
        <a href="/user/<%= @album.user.username %>"><%= @album.user.username %></a>
      <% else %>
        Anonymous
      <% end %>
    </b>
  </p>
</div>
<% @images.each do | image | @image = image %>
   <%= render 'shared/album_image' %>
<% end %>

