<div class="album-header">

  <div class="row">
    <div class="col-md-10 col-sm-8">

      <h1>
        <span class="album-title-<%= @album.short_id %>"><%= @album.show_title %></span>
        <% if session[:user_id] == @album.user_id %>
          <input maxlength="255" placeholder="Title" class="form-control input-lg hidden edit-album-title album-title-<%= @album.short_id %>" data-album-id="<%= @album.short_id %>" type="text" value="<%= @album.title %>">
          <button class="btn btn-xs btn-primary edit-album-title album-title-<%= @album.short_id %>" data-album-id="<%= @album.short_id %>">Edit title</button>
        <% end %>
      </h1>
      <p>
        <span class="album-description-<%= @album.short_id %>"><%= nl2br(@album.description) %></span>
        <% if session[:user_id] == @album.user_id %>

          <textarea rows="3" placeholder="Description" class="form-control input-lg hidden edit-album-description album-description-<%= @album.short_id %>" data-album-id="<%= @album.short_id %>"><%= @album.description %></textarea>

          <% unless @album.description.nil? || @album.description.blank? %>
            <button class="btn btn-xs btn-primary edit-album-description album-description-<%= @album.short_id %>" data-album-id="<%= @album.short_id %>">Edit description</button>
          <% else %>
            <button class="btn btn-xs btn-primary edit-album-description album-description-<%= @album.short_id %>" data-album-id="<%= @album.short_id %>">Add description</button>
          <% end %>
        <% end %>
      </p>

      <p>
        Uploaded <time datetime="<%= @album.created_at.to_time.iso8601 %>" title="<%= @album.created_at.to_time.iso8601 %>">
          <%= distance_of_time_in_words @album.created_at.to_time.to_i, Time.now.to_i %> ago
        </time>
        <% if @album.user %>
          by <b><a href="/user/<%= @album.user.username %>"><%= @album.user.username %></a></b>
        <% end %>
      </p>
      <p class="album-share-button">

        <a title="Share link" class="btn share-button" data-toggle="collapse" data-target="#album-share-box">
          <span class="fa fa-share-alt"></span>
        </a>

        <a title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode_www_form_component("#{ApplicationController::BASE_URL}/a/#{@album.short_id}") %>" class="btn share-button share-facebook"><span class="fa fa-facebook"></span></a>
        <a title="Share on Twitter" target="_blank" href="https://twitter.com/home?status=<%= URI.encode_www_form_component("#{ApplicationController::BASE_URL}/a/#{@album.short_id}") %>" class="btn share-button share-twitter"><span class="fa fa-twitter"></span></a>
      </p>

      <div id="album-share-box" class="album-share-box collapse">
        <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span>
              <span>Link:</span>
              </span>
              <input type="text" class="form-control image-url" value="<%= ApplicationController::BASE_URL %>/a/<%= @album.short_id %>">
              <span class="input-group-btn hidden-xs">
                <button title="Copy to clipboard" class="btn btn-primary clipboard-btn"><span class="glyphicon glyphicon-copy"></span></button>
              </span>
        </div>
      </div>

    </div>
    <div class="col-md-2 col-sm-4 hidden-xs text-right">
      <div class="next-post">
        <a class="btn btn-primary btn-lg" href="/a/<%= @next_post_id %>">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>

  </div>

</div>

<% if @images.length > AlbumController::ALBUM_LIMIT || params[:offset] %>

  <div class="row browse-list album-browse-list">

    <% @images.each do |image| %>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="thumbnail browse_thumbnail">
          <a href="<%= image.link_to_detail(:images) %>" title="<%= image.title %>">
            <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_path %>')">
            <span class="thumb_title"><%= image.title %></span>
          </a>
        </div>
      </div>
    <% end %>

  </div>

  <% if @show_more %>
    <div class="show_more_images text-center">
      <a href="?offset=<%= params[:offset].to_i + @images.length %>" class="btn btn-lg btn-success show-more"><span class="glyphicon glyphicon-refresh"></span> Show more</a>
    </div>
  <% end %>

<% else %>

  <% @images.each do | image | @image = image %>
     <%= render 'shared/album_image' %>
  <% end %>

  <div class="image-footer text-center">
    <a class="btn btn-success btn-lg" href="/a/<%= @next_post_id %>">Next Post <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

  <div id="disqus_thread" class="image-footer"></div>
  <script>
     var disqus_config = function () {
     this.page.url = '<%= @page.base_url %><%= @page.url %>';
     this.page.identifier = '<%= @album.short_id %>';
     };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//pngif-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<% end %>