<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @page.description %>">
  <meta name="keywords" content="<%= @page.keywords %>">
  <meta name="author" content="<%= @page.author %>">

  <meta property="og:title" content="<%= @page.title %>"/>
  <meta property="og:site_name" content="<%= @page.site_name %>">
  <meta property="og:description" content="<%= @page.description %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="<%= @page.base_url %><%= @page.url %>"/>
  <meta property="og:image" content="<%= @page.image %>"/>

  <meta property="twitter:card" content="summary"/>
  <meta property="twitter:site" content="<%= @page.twitter %>"/>
  <meta property="twitter:url" content="<%= @page.base_url %><%= @page.url %>"/>
  <meta property="twitter:title" content="<%= @page.title %>"/>
  <meta property="twitter:description" content="<%= @page.description %>"/>
  <meta property="twitter:image" content="<%= @page.image %>"/>

  <title><%= @page.title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-precomposed.png"/>
</head>

<body>



<div class="container">
  <div class="navbar" role="navigation">
    <div class="container">
      <h1 class="masthead-brand">Image Uploader</h1>
      <ul class="nav masthead-nav">
        <li <%= @page.section == '' ? 'class="active"'.html_safe : '' %>><a href="/">Upload Image</a></li>
        <li><a href="#">Browse Images</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
  </div>


  <%= yield %>

  <div>
    <a id="back-top" href="#top" title="Back to top"><img src="/img/up.png" alt="Back to top"></a>
    <div class="inner">
      <p>&copy; Lameaux 2016</p>
      <p>
        <a href="/conditions">Terms and conditions</a> |
        <a href="/report">Report abuse</a> |
        Follow us: <a href="/rss"><img alt="RSS" src="/img/rss.png" /></a>
        <a href="https://www.facebook.com/HovnoKod"><img alt="Facebook" src="/img/facebook.png" /></a>
        <a href="https://twitter.com/#!/HovnoKod"><img alt="Twitter" src="/img/twitter.png" /></a>
        <a href="https://plus.google.com/114709831347557420918"><img alt="Google+" src="/img/google.png" /></a>
      </p>
    </div>
  </div>

</div>

</body>
</html>
