<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @page.description %>">
  <meta name="keywords" content="<%= @page.keywords %>">
  <meta name="author" content="<%= @page.author %>">

  <meta property="og:title" content="<%= @page.title %>"/>
  <meta property="og:site_name" content="<%= @page.site_name %>">
  <meta property="og:description" content="<%= @page.description %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="<%= @page.base_url %><%= @page.url %>"/>
  <meta property="og:image" content="<%= @page.image %>"/>
  <meta property="og:image:width"  content="<%= @page.image_width %>" />
  <meta property="og:image:height" content="<%= @page.image_height %>" />
  <meta property="article:publisher" content="https://www.facebook.com/<%= @page.facebook %>">

  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:site" content="@<%= @page.twitter %>"/>
  <meta property="twitter:domain" content="<%= @page.site_domain %>" />
  <meta property="twitter:url" content="<%= @page.base_url %><%= @page.url %>"/>
  <meta property="twitter:title" content="<%= @page.title %>"/>
  <meta property="twitter:description" content="<%= @page.description %>"/>
  <meta property="twitter:image" content="<%= @page.image %>"/>

  <link rel="image_src" href="<%= @page.image %>"/>

  <title><%= @page.title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-precomposed.png"/>
</head>

<body>



<div class="container">
  <div class="navbar" role="navigation">
    <div class="container">
      <a title="<%= @page.site_name %>" href="/"><h1 class="masthead-brand"><b>pngif</b>.com</h1></a>
      <ul class="nav masthead-nav">
        <li <%= @page.section == 'upload' ? 'class="active"'.html_safe : '' %>><a href="/">Upload</a></li>
        <li <%= @page.section == 'browse' ? 'class="active"'.html_safe : '' %>><a href="/browse">Browse</a></li>
        <li <%= @page.section == 'my' ? 'class="active"'.html_safe : '' %>><a href="/my">My Images</a></li>
      </ul>
    </div>
  </div>


  <%= yield %>

  <div class="text-center">
    <a id="back-top" href="#top" title="Back to top"><img src="/img/up.png" alt="Back to top"></a>

    <div class="inner">
      <p>
        <a href="/about">About</a> |
        Subscribe to <a href="/rss">RSS feed</a> |
        Follow us on
        <a href="https://twitter.com/<%= @page.twitter %>">Twitter</a> and
        <a href="https://facebook.com/<%= @page.facebook %>">Facebook</a>
      </p>
    </div>
  </div>

</div>

</body>
</html>
